* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(123, 124, 102);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 50px 150px;
}